* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
  src: url("/static/assets/fonts/Poppins/Poppins-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 600;
  font-style: normal;
  src: url("/static/assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}
body {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
}

main {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  margin: 20px;
  width: 80vw;
  justify-content: space-between;
}
#title-content {
  display: flex;
  flex-direction: row;
  width: 80vw;
  align-items: center;
  justify-content: space-between;
  margin: 10px 20px;
  color: #56070c;
}
#title-content h2 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 25px;
}
#title-content a {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  margin-right: 15px;
  border: 2px solid #56070c;
  background-color: #56070c;
  color: #f0f0f0;
  border-radius: 5px;
  padding: 3px 8px;
  text-decoration: none;
  transition: 0.2s;
  height: 40px;
}
#title-content a:hover {
  background-color: #8f3d38;
  border: 2px solid #8f3d38;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  list-style: none;
  cursor: pointer;
  width: 80vw;
  flex-wrap: wrap;
}

li {
  margin: 10px 5px;
  border: 2px solid #56070c;
  border-radius: 5px;
  padding: 15px;
  width: 250px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#content-actions-form {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  padding-top: 8px;
}

#content-actions-form a,
#content-actions-form button {
  display: flex;
  margin-right: 8px;
  border: 1px solid #56070c;
  background-color: #56070c;
  border-radius: 50%;
  padding: 6px;
  opacity: 1;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  cursor: pointer;
  text-decoration: none;
}

#content-actions-form a:hover,
#content-actions-form button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #2b0101;
}

#content-actions-form img {
  width: 16px;
  height: 16px;
  margin: 1px;
}

li h3 {
  text-align: center;
  margin: 5px;
  color: #56070c;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 16px;
}

li p {
  margin-bottom: 15px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 1;
  -webkit-line-clamp: 1;
}

li a {
  color: #56070c;
  text-decoration: none;
  opacity: 0.8;
  transition: 0.3s;
}

li:hover {
  background-color: #8f3d38;
  opacity: 1;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

li a:hover {
  opacity: 1;
  color: #f0f0f0;
}

li:hover h3 {
  color: #f0f0f0;
}
#title {
  font-size: 1.2rem;
}
#content-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: 40px;
  padding-left: 32px;
}

h2 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 25px;
  color: #56070c;
  margin: 10px 20px;
}

#form {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 30px 40px;
  width: 500px;
}

#form div {
  margin-bottom: 10px;
}

label {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 5px;
  display: block;
}

input[type="text"],
textarea,
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "Poppins";
}

textarea {
  resize: none;
}

button {
  background-color: #56070c;
  color: #f0f0f0;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Poppins";
  font-weight: 600;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #4c090b;
}

.additional-inputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
}

.additional-inputs div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.additional-inputs input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-right: 10px;
}

.remove-option {
  background-color: #810202;
  color: #f0f0f0;
  padding: 10px;
  border-radius: 8px;
  height: 42px;
  margin: 8px 0px 5px 5px;
  width: auto;
  cursor: pointer;
  font-family: "Poppins";
  font-weight: 600;
}
.remove-option img {
  width: 20px;
  height: 20px;
}
.add-option {
  background-color: #2d4e06;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  height: 42px;
  width: 40px;
  margin-left: auto;
}
.add-option img {
  width: 20px;
  height: 20px;
}

.remove-option:hover {
  background-color: rgb(116, 19, 21);
}
.add-option:hover {
  background-color: #264206;
}

#questions-container h3 {
  font-family: "Poppins";
  font-weight: 600;
  margin: 8px 0;
}

#add-question {
  margin: 5px 0;
  background-color: #2d4e06;
}
#add-question:hover {
  background-color: #264206;
}

.remove-question {
  background-color: #810202;
}
.remove-question:hover {
  background-color: rgb(116, 19, 21);
}

.submit-form {
  width: 100%;
  margin-top: 30px;
}
.content-question-button {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

footer {
  display: flex;
  flex-direction: column;
  margin: 10px 10px 10px 50px;
  align-items: center;
  justify-content: center;
  padding: 10px 10px 10px 40px;
  width: 60%;
  background-color: #f0f0f0;
  position: relative;
}

.footer-content {
  display: flex;
  margin-left: 50px;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

footer h3 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 13px;
  margin: 5px;
  color: #56070c;
}

footer p {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 11px;
}

footer a {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 12px;
  text-decoration: none;
  margin: 0px 15px;
  transition: 0.2s;
  color: #000;
}

footer a:hover {
  color: #56070c;
  font-weight: 600;
}

.social-media {
  margin: 10px;
}
