{% extends 'base.html' %}

{% block content %}
<div id="content-form">

    <h2>Editar Formulário</h2>

    <form id="form" method="POST" action="{{ url_for('edit_form', form_id=form.id) }}">
        <div>
            <label for="title">Título:</label>
            <input type="text" id="title" name="title" value="{{ form.title }}" required><br>
        </div>
        <div>
            <label for="description">Descrição:</label>
            <textarea id="description" name="description" required>{{ form.description }}</textarea><br>
        </div>

        <div id="questions-container">
            <h3>Questões</h3>
            {% for question in questions %}
            <div class="question" id="question-template">
                <div>
                    <label for="question_text_{{ question.id }}">Enunciado da Questão:</label>
                    <input type="text" id="question_text_{{ question.id }}"
                        name="questions[{{ question.id }}][question_text]" value="{{ question.question_text }}"
                        required><br>
                </div>
                <div>
                    <label for="question_type_{{ question.id }}">Tipo:</label>
                    <select id="question_type_{{ question.id }}" name="questions[{{ question.id }}][question_type]"
                        class="question_type">
                        <option value="" disabled selected>Selecione</option>
                        <option value="short_answer" {% if question.question_type=='short_answer' %}selected{% endif %}>
                            Resposta
                            Curta</option>
                        <option value="long_answer" {% if question.question_type=='long_answer' %}selected{% endif %}>
                            Resposta
                            Longa</option>
                        <option value="single_choice" {% if question.question_type=='single_choice' %}selected{% endif
                            %}>
                            Escolha Única</option>
                        <option value="multiple_choice" {% if question.question_type=='multiple_choice' %}selected{%
                            endif %}>
                            Múltipla Escolha</option>
                    </select>
                </div>

                <div class="additional-inputs" id="options-container-{{ question.id }}">
                    {% for option in question.options %}
                    <!-- <label for="option_text_{{ option.id }}">Opção:</label> -->
                    <input type="text" name="questions[{{ question.id }}][options][{{ option.id }}][option_text]"
                        value="{{ option.option_text }}" required><br>
                    {% endfor %}
                    <button type="button" class="add-option">Adicionar Opção</button>
                </div>
                <div class="content-question-button">
                    <button type="button" class="remove-question">Remover Questão</button>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="content-question-button">
            <button type="button" id="add-question">Adicionar Questão</button>
        </div>
        <div id="content-submit-button">
            <button type="submit" id="submit-form">Salvar Formulário</button>
        </div>
    </form>
</div>

<input type="hidden" id="existing-questions" value="{{ questions|tojson }}">

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/edit_form.js') }}"></script>
{% endblock %}